
//版心
.container {
  width: 1206px;
  //height:1000px;
  margin: 0 auto;
}

//顶部导航
.top-nav {
  width: 100%;
  min-width: 960px;
  line-height: 36px;
  background-color: #f3f3f3;

}
//顶部导航左侧
.top-nav-left {
  float: left;
  font-size: 12px;
  font-family: "微软雅黑";
  a {
    color: #59ba81;
    &:hover{
      cursor: pointer;
    }
  }
}
//顶部导航右侧
.top-nav-right {
  float: right;
  font-size: 12px;
  color: #ababab;
  i {
    width: 10px;
    height: 10px;
    display: inline-block;
    padding-right: 6px;
    background: #f3f3f3 url("../imgs/spirit.png") no-repeat -284px -26px;
  }
  &:hover{
    cursor: pointer;
  }
}
//导航
.navgaitor {
  height: 90px;
  ul {
    float: right;
    li {
      float: left;
      box-sizing: border-box;
    }
  }
}
.logo-box {
  float: left;
  display: inline-block;
  height: 90px;
  span {
    display: inline-block;
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 14px;
    margin-top: 32px;
  }
}
.logo {
  height: 22px;
  font-size: 22px;
  font-weight: 400;
  color: #333333;
  display: inline-block;
  float: left;
  padding-left:84px;
  margin-top: 30px;
  background: url("../imgs/spirit.png") no-repeat -223px -1px;
}
.follow-btn {
  i {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url("../imgs/spirit.png") no-repeat -45px -6px;
  }
  width: 54px;
  float: left;
  line-height: 20px;
  background-color: #21a557;
  color: #ffffff;
  font-size: 12px;
  border-radius: 2px;
  margin:32px 0 0 30px;
}
.followed-btn {
  i {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url("../imgs/spirit.png") no-repeat -111px -9px;
  }
  p {
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 8px;
    color: #999999;
  }
  display: inline-block;
  width: 104px;
  border: 1px solid #efefef;
  float: left;
  line-height: 20px;
  background-color: #f8f8f8;
  color: #333333;
  font-size: 12px;
  border-radius: 2px;
  margin: 32px 0 0 30px;
}
.followed-btn:hover {
  background-color: #ffffff;
}
.cancel:hover {
  color: #21a557;
  text-decoration: underline;
}
.nav-link {
  padding-left: 60px;
  a {
    display: inline-block;
    color: #666666;
    font-size: 16px;
    font-family: "冬青黑体简体中文 W3";
    line-height: 90px;
    &:hover{
      cursor: pointer;
      color:#39a030;
    }
  }
}
.nav-srch {
  padding: 36px 16px 0 30px;
  height: 90px;
  a {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../imgs/spirit.png") no-repeat;
    &:hover{
      cursor: pointer;
      background: url("../imgs/spirit.png") no-repeat 0 -18px;
    }
  }
}
//导航结束


.bannar {
  position: relative;
  .imgsbox {
    position: relative;
    overflow: hidden;
    width: 100%;
    div {
      img {
        width: 100%;
      }
    }
  }
  ul {
    z-index: 10;
    position: absolute;
    bottom: 14px;
    left: 50%;
    li {
      float: left;
      width: 10px;
      height: 10px;
      margin: 6px;
      border-radius: 50%;
    }
  }
}

.intr {
  ul {
    padding: 60px 0;
    margin-left: -80px;
    li {
      float: left;
      padding-left: 80px;
      width: 33.3333%;
      box-sizing: border-box;
      div {
        margin: -15px 0 0 100px;
        a {
          display: block;
          font-size: 14px;
          color: #39a030;
          margin-top: 30px;
          &:hover{
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.intr-a {

  float: left;
  width: 80px;
  height: 80px;
  margin-top: 6px;
}

.title {
  font-size: 22px;
  line-height: 52px;
  color: #333333;
}

.info {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

.intr-fir {
  background: url(../imgs/spirit.png) no-repeat 0 -83px;
}

.intr-sec {
  background: url(../imgs/spirit.png) no-repeat -80px -83px;
}

.intr-thr {
  background: url(../imgs/spirit.png) no-repeat -160px -83px;
}

.slider {
  width: 100%;
  overflow: hidden;
  #target {
    width: 100%;
    overflow: hidden;
    li {
      float: left;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.content {
  background-color: #f8f8f8;
  padding: 80px 0 120px 0;
  .left {
    display: inline-block;
    position: relative;
    .btnbox {
      display: block;
      padding: 0 0 10px 0;
      li {
        width: 200px;
        line-height: 50px;
        font-size: 20px;
        font-family: "微软雅黑";
        text-align: center;
        float: left;
        cursor: pointer;
      }
    }
    .classes {
      position: relative;
      li:hover .hover-box{
        z-index: 1000;
        display: block;
      }
      li:hover .up-hover{
        display: none;
      }
      li {
        float: left;
        margin: 0 20px 20px 0;
        display: block;
        padding: 1px;
        height: 230px;
        width: 220.8px;
        border: 1px solid #ebebeb;
        box-shadow: 0 1px 1px 0px #f1f1f1;
        background: #fff;
        color: #333;
      }
    }
  }
  .up-hover{
    img {
      width: 221px;
      height: 123px;
    }
    div {
      margin: 10px 5px;
    }
  }
  .right {
    width: 225px;
    float: right;
    display: inline-block;
    position: relative;
    .f-csp {
      width: 100%;
      height: 100%;
    }
  }
}

.hover-box {
  width: 475px;
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  z-index: 1000;
}

.top-content {
  padding: 20px;
  background-color: #fff;
  img {
    display: block;
    width: 220px;
    height: 120px;
    float: left;
  }
  div {
    width: 195px;
    display: block;
    float: left;
    margin-left: 20px;
    p {
      color: #999;
      font-size: 12px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 18px;
      color: #666;
      line-height: 18px;
      margin-bottom: 20px;
    }
  }
}

.hover-people {
  width: 100px;
  padding-left: 18px;
  background: url("../imgs/spirit.png") no-repeat -38px -23px;
}

.bottom-content {
  padding: 20px;
  background-color: #f8f8f8;
  p {
    font-size: 14px;
    margin-bottom: 0;
    //word-break:break-word;
  }
}

.head-title {
  line-height: 56px;
  font-size: 16px;
  clolor: #333333;
  background-color: #ffffff;
  padding-left: 20px;
  z-index: 999;
}

.content-box {
  padding: 20px 22px 20px 23px;
  background-color: #ffffff;
  border-top: 1px solid #d4d3d3;
}

.content-info {
  font-size: 14px;
  margin-bottom: 10px;
}

.class-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.company {
  margin-top: 10px;
  color: #999;
}

.v-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.v-modal-box {
  padding: 10px 8px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #fff;
  i {
    display: block;
    position: absolute;
    top: 10px;
    right: 8px;
    width: 10px;
    height: 10px;
    background: url("../imgs/spirit.png") no-repeat -18px -10px;
    cursor: pointer;
  }
}

.m-video {
  margin: 20px 22px 28px 26px;
}

.m-video-title {
  margin-bottom: 20px;
  font-size: 18px;
  color: #444;
}

.video {
  width: 100%;
}

.vedio-closeBtn {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 8px;
  width: 10px;
  height: 10px;
  background: url("../imgs/spirit.png") no-repeat -18px -10px;
  cursor: pointer;
}

.ranking-container {
  height: 700px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0px 20px 20px 20px;
  border-top: 1px solid #d4d3d3;
  position: relative;
}

.hot-ranking {
  ul {
    top: 20px;
    height: 680px;
    //background-color: #ffffff;
    //overflow: hidden;
    //border-top:1px solid #d4d3d3 ;
    position: absolute;
    li {
      margin-bottom: 20px;
      height: 50px;
      a {
        display: inline-block;
        img {
          width: 50px;
          height: 50px;
          margin-right: 10px;
          float: left;
        }
      }
    }
  }
}

.ranking-box {
  display: inline-block;
  float: left;
}

.ranking-people {
  display: inline-block;
  margin-top: 10px;
  padding: 3px 5px 4px 18px;
  max-width: 50px;
  height: 8px;
  font-size: 8px;
  color: #999;
  border-radius: 2px;
  background: url("../imgs/spirit.png") no-repeat -36px -20px;
}

.ranking-title {
  max-width: 125px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.people {
  display: inline-block;
  margin-top: 10px;
  line-height: 13px;
  padding-left: 17px;
  color: #999;
  background: url("../imgs/spirit.png") no-repeat -33px -23px;
}

.price {
  margin-top: 10px;
  color: #ff3f00;
}

.page {
  float: right;
  padding-top: 30px;
  li {
    float: left;
    a {
      display: inline-block;
    }
    a:hover {
      background-color: #9dd8b1;
      color: #ffffff;
    }
  }
}

.spe-li {
  width: 30px;
  line-height: 20px;
  font-size: 12px;
  background-color: #9dd8b1;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.com-li {
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  margin-left: 10px;
  text-align: center;
}

.sel-li {
  background-color: #9dd8b1;
  color: #ffffff;
}

.footer {
  width: 100%;
  background-color: #2c3339;
}

.innerfooter {
  height: 100px;
  padding: 80px 0;
  div {
    display: inline-block;
    float: left;
  }
}

.footer-link {
  a {
    display: inline-block;
  }
  p {
    font-size: 14px;
    color: #abadb0;
    margin: 0 0 7px 0;
  }
  ul {
    li {
      line-height: 30px;
      font-size: 16px;
      a {
        color: #abadb0;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.f-l-sec {
  margin: 0 0 0 100px;
}

.footer-iconbox {
  position: relative;
  span, i {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  i {
    width: 23px;
    height: 18px;
    background: url("../imgs/spirit.png") no-repeat -198px -17px;
    left: 40px;
    top: 18px;
  }
}

.f-l-thr {
  margin: 0 0 0 72px;
}

.footer-logobox {
  margin: 10px 150px 0 50px;
  .footer-logo {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 0 0 82px;
    width: 234px;
    height: 22px;
    font-size: 20px;
    color: #39a030;
    background: url("../imgs/spirit.png") no-repeat -223px -1px;
    margin-bottom: 30px;
  }
  .footer-beian {
    color: #abadb0;
    font-size: 12.5px;
    font-family: "微软雅黑";
    margin-bottom: 15px;
  }
}

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.loginbox {
  width: 388px;
  height: 288px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -144px;
  margin-left: -194px;
 // transform: translate(-50%, -50%);
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px 0 40px 40px;
  -webkit-animation:600ms move linear;
  i {
    display: block;
    position: absolute;
    top: 10px;
    right: 8px;
    width: 10px;
    height: 10px;
    background: url("../imgs/spirit.png") no-repeat -18px -10px;
    cursor: pointer;
  }
  p {
    font-size: 18px;
    font-weight: 800;
    color: #444444;
    margin-bottom: 20px;
  }
  input {
    width: 296px;
    display: block;
    color: #cccccc;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 44px;
    font-family: "微软雅黑";
    font-weight: 200;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    box-shadow: 2px 2px 2px #f1f1f1 inset;
    padding: 0 12px;
    margin-bottom: 15px;
  }
  label {
    position: absolute;
    left: 52px;
    font-size: 16px;
    font-weight: 200;
    color: #cccccc;
    line-height: 44px;
    cursor: text;
  }
  button {
    display: block;
    width: 293px;
    height: 46px;
    margin-top: 30px;
    box-shadow: 2px 3px 0 #d5e3da;
    background: url(../imgs/spirit.png) no-repeat 0 -37px;
    cursor: pointer;
  }
}