.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

//版心
.container {
  width: 1206px;
  //height:1000px;
  margin: 0 auto;
}

//顶部导航
.top-nav {
  width: 100%;
  min-width: 1024px;
  line-height: 36px;
  background-color: #f3f3f3;

}

.top-nav-left {
  float: left;
  font-size: 12px;
  font-family: "微软雅黑";
  a {
    color: #59ba81;
  }
}

.top-nav-right {
  float: right;
  font-size: 12px;
  color: #ababab;
  i {
    width: 10px;
    height: 10px;
    display: inline-block;
    padding-right: 6px;
    background: url("../imgs/spirit.png") no-repeat -18px -10px;
  }
}

.navgaitor {
  height: 90px;
}

.bannar {
  position: relative;
  .imgsbox {
    position: relative;
    overflow: hidden;
    width: 100%;
    div {
      img {
        width: 100%;
      }
    }
  }
  ul {
    z-index: 10;
    position: absolute;
    bottom: 14px;
    left: 50%;
    li {
      float: left;
      width: 10px;
      height: 10px;
      margin: 6px;
      border-radius: 50%;
    }
  }
}

.intr {
  ul {
    padding: 60px 0;
    margin-left: -80px;
    li {
      float: left;
      padding-left: 80px;
      width: 33.3333%;
      //height: 176px;
      box-sizing: border-box;
      div {
        //display: inline-block;
        margin:-15px 0 0 100px;
        a{
          display: block;
          font-size:14px;
          color:#39a030;
          margin-top:30px;
        }
      }
    }
  }
}
.intr-a{
  //display: inline-block;
  float: left;
  width: 80px;
  height:80px;
  margin-top:6px;
}
.title{
  font-size: 22px;
  line-height: 52px;
  color:#333333;
}
.info{
  font-size:14px;
  line-height: 24px;
  color:#666666;
}
.intr-fir{
  background: url(../imgs/spirit.png) no-repeat 0 -83px;
}
.intr-sec{
  background: url(../imgs/spirit.png) no-repeat -80px -83px;
}
.intr-thr{
  background: url(../imgs/spirit.png) no-repeat -160px -83px;
}
.slider {
  width: 100%;
  overflow: hidden;
  #target {
    width: 100%;
    // position: absolute;
    overflow: hidden;
    li {
      float: left;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.content {
  background-color: #f8f8f8;
  height: 300px;
  padding: 80px 0 120px 0;
  .left {
    width: 82%;
    display: inline-block;
    .btnbox {
      padding: 0 0 10px 0;
      button {
        width: 200px;
        line-height: 50px;
        font-size: 20px;
        font-family: "微软雅黑";
        text-align: center;
        float: left;
      }
    }
    ul {
      li {
        float: left;
        padding: 1px;
        margin: 20px 20px 0 0;
        width: 223px;
        height: 226px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;

      }
    }
  }
}

.footer {
  width: 100%;
  height: 260px;
  background-color: #2c3339;
}

.innerfooter {
  padding: 80px 200px 80px 50px;
}

.link_con {
  height: 100px;
  li {
    color: #999999;
  }
  a {
    color: #999999;
    font-size: 12px;
  }
}

.one {
  padding-left: 150px;
}

.two {
  padding-left: 96px;
}

.three {
  padding-left: 70px;
}

.special {
  font-size: 8px;
}