@media screen and (min-width: 960px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    .classes {
        width: 735px;
        height:1778px;
    }
}

@media screen and (min-width: 1205px) {
    .container {
        width: 1206px;
        margin: 0 auto;
    }

    .classes {
        width: 980px;
        height:1270px;
    }
}

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

body, textarea, input, button, select, keygen, legend {
    font: 12px/1.14 arial, 'Microsoft YaHei';
    color: #333;
    outline: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    border: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input {
    outline: none;
    border: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.active {
    background-color: white;
}

.normal {
    background-color: black;
}
.m-l{
 margin-left: 10px;
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.anim_fade {

    -webkit-animation: fade-in 500ms;
}

.btn-active {
    color: #ffffff;
    background-color: #39a030;
}

.btn-normal {
    background-color: #ffffff;
    color: #666666;
}

.fl-l {
    float: left;
}
